@media only screen and (max-width:400px){
    .container{
        margin: 0;
        padding: 0;
        width:100%;
    }
    .sk{
        width:100%;
        margin:10px;
        padding: 10px;
    }
}